{% extends "layout.html" %}

{% block content %}

<section class="row book-container" data-bind="with:Book, visible:!IsEditMode()">
    <div class="col-12">
        <div class="row book" data-bind="foreach:BookEntries">
            <div class="col-sm-12 col-md-6 book-item">
                <div class="guest" data-bind="text:Author"></div>
                <div class="content" data-bind="text:Message"></div>
            </div>            
        </div>
        <div class="row">
            <div class="col-12 add-button">
                <button class="btn btn-primary" data-bind="click:$root.addEntry.bind($root)">Scrivi</button>
            </div>
        </div>
    </div>
</section>

<section class="row" data-bind="visible:IsEditMode">
    <div class="col-12 edit-container">        
        <form data-bind="with:CurrentEntry">
            <div class="edit">
                <div class="form-group">
                    <label for="author">Autore</label>
                    <input type="text" class="form-control" id="author" aria-describedby="author" data-bind="value:Author">
                </div>

                <div class="form-group">
                    <label for="message">Messaggio</label>
                    <textarea class="form-control" id="message" rows="6"  data-bind="value:Message"></textarea>
                </div>
            </div>
            <div class="add-button">
                <button class="btn btn-primary" data-bind="click:updateBookEntry">Salva</button>
            </div>           
        </form>              
    </div>
</section>

{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="/static/scripts/knockout-3.5.1.debug.js"></script>
<script type="text/javascript" src="/static/scripts/viewmodels.js"></script>
<script type="text/javascript">
    window["app"] = new App();
    ko.applyBindings(app, document.body);
    app.getBook();
</script>
{% endblock %}