<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vincenzo &amp; Giovanna - 40 anni insieme</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/fonts/icofont/icofont.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Vincenzo &amp; Giovanna</h1>
        <h4>40 anni insieme</h4>
    </header>
    <div class="container body-content">
        <!-- Spinner -->
        <div class="spinner" role="status" data-bind="visible:Processing">
            <div class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-caption">Operazione in corso</div>
        </div>

        {% block content %}{% endblock %}

    </div>
    <footer>
        <p>&copy; {{ year }} - Made with love by <a href="https://www.soniarizzodev.com/" target="_blank" rel="noopener">SoniaRizzoDev</a></p>
    </footer>
    <script src="/static/scripts/jquery-3.5.0.min.js"></script>
    <script src="/static/content/bootstrap/bootstrap.min.js"></script>
    <script src="/static/scripts/internal-navigation.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
